[submodule "examples/ReaSCAN-Causal"]
	path = examples/ReaSCAN-Causal
	url = git@github.com:frankaging/ReaSCAN-Causal.git
[submodule "examples/MQNLICounterfactualTraining"]
	path = examples/MQNLICounterfactualTraining
	url = https://github.com/hansonhl/MQNLICounterfactualTraining
